Repository qwerty2501/rust-project-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix files by prettier, rustfmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: fix files by prettier
        name: fix files by prettier
        entry: npm run fix:prettier
        language: node
        stages:
          - commit
        types_or:
          - json
          - yaml
          - markdown
          - html
      - id: rustfmt
        name: rustfmt
        entry: scripts/git/hooks/pre-commit/rustfmt.sh
        language: script
        stages:
          - commit
        types_or:
          - rust

      - id: cargo-clippy
        name: cargo-clippy
        entry: scripts/git/hooks/pre-push/cargo_lint.sh
        language: script
        pass_filenames: false
        stages:
          - push

      - id: cargo-test
        name: cargo-test
        entry: scripts/git/hooks/pre-push/cargo_test.sh
        language: script
        pass_filenames: false
        stages:
          - push

fix error
  scripts/git/hooks/utils/runner.sh
Due: none

fix error.
  scripts/git/hooks/pre-push/cargo_test.sh
Due: none

fix dir
  scripts/git/hooks/pre-commit/rustfmt.sh
Due: none

fix rustfmt path
  .lintstagedrc.json
Due: fix files by prettier

fix format
  scripts/git/hooks/pre-commit/rustfmt.sh
Due: none

update new scripts
  .github/workflows/ci_tests.yaml
  Makefile.toml
  package-lock.json
  project/domains/src/lib.rs
  scripts/environment
  scripts/git/hooks/pre-commit/rustfmt.sh
  scripts/git/hooks/pre-push/rust_lint.sh
  scripts/lint/lint_rust.sh
  scripts/lint/lint_rust_partial.sh
  scripts/prepare
  scripts/test/test_rust.sh
  scripts/test/test_rust_partial.sh
Due: fix files by prettier, rustfmt

feat: moved project dir to crates
  Cargo.toml
  crates/domains/Cargo.toml
  crates/domains/src/lib.rs
Due: rustfmt

removed dependency npm
  .hooks/.gitignore
  .hooks/pre-commit
  .hooks/pre-push
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  scripts/git/hooks/pre-commit/rustfmt.sh
  scripts/git/hooks/utils/staged_exists_files.sh
Due: fix files by prettier

added .local dir to .gitignore
  .gitignore
Due: none

moved git hooks path
  .githooks/.gitignore
  .githooks/pre-commit
  .githooks/pre-push
Due: none

removed unnessary file
  .githooks/.gitignore
Due: none
