Repository qwerty2501/rust-project-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix files by prettier, rustfmt

fix files by prettier:
  name: fix files by prettier
  entry: npm run fix:prettier
  language: node
  stages:
  - commit

rustfmt:
  name: rustfmt
  entry: scripts/git/hooks/pre-commit/rustfmt.sh
  language: script
  stages:
  - commit

removed git add
  scripts/git/hooks/pre-commit/rustfmt.sh
Due: none

added after format
  scripts/git/hooks/pre-commit/rustfmt.sh
  scripts/git/hooks/utils/after_format.sh
Due: none

added set -eu
  scripts/git/hooks/pre-push/cargo_lint.sh
  scripts/git/hooks/pre-push/cargo_test.sh
Due: none

added envrc
  .gitignore
Due: none

added after_format
  scripts/git/hooks/pre-commit/rustfmt.sh
  scripts/git/hooks/utils/after_format.sh
Due: none

add wip check.
  scripts/git/hooks/pre-push/cargo_lint.sh
  scripts/git/hooks/pre-push/cargo_test.sh
  scripts/git/hooks/utils/check_wip.sh
Due: none

fixed crate name.
  domains/Cargo.toml
Due: none

removed after_format
  scripts/git/hooks/pre-commit/rustfmt.sh
Due: none

removed end-of-file
  .pre-commit-config.yaml
  scripts/git/hooks/pre-commit/rustfmt.sh
Due: fix files by prettier

ディレクトリを移動させた
  Cargo.toml
  applications/domains/Cargo.toml
  applications/domains/src/lib.rs
Due: rustfmt

rename dir
  Cargo.toml
  productions/domains/Cargo.toml
  productions/domains/src/lib.rs
Due: rustfmt

feat: moved dir.
  project/domains/Cargo.toml
  project/domains/src/lib.rs
Due: rustfmt

fixed dir.
  Cargo.toml
Due: none

moved to husky
  .husky/.gitignore
  .husky/hooks/pre-commit/rustfmt.sh
  .husky/hooks/pre-push/cargo_lint.sh
  .husky/hooks/pre-push/cargo_test.sh
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  package-lock.json
  package.json
  scripts/git/hooks/pre-commit/rustfmt.sh
  scripts/git/hooks/pre-push/cargo_lint.sh
  scripts/git/hooks/pre-push/cargo_test.sh
  scripts/git/hooks/utils/after_format.sh
  scripts/git/hooks/utils/check_wip.sh
Due: fix files by prettier

fix setting
  .lintstagedrc.json
Due: fix files by prettier

set config
  package.json
Due: fix files by prettier

fix pre-push
  .husky/pre-push
Due: none

f
  .husky/pre-push
  project/domains/src/lib.rs
Due: rustfmt

wait process
  .husky/pre-push
Due: none

added runer script
  .husky/hooks/pre-commit/rustfmt.sh
  .husky/hooks/pre-push/cargo_lint.sh
  .husky/hooks/pre-push/cargo_test.sh
  .husky/hooks/pre-push/runner.sh
  .husky/pre-push
  project/domains/Makefile.toml
Due: none

fix rust
  project/domains/src/lib.rs
Due: rustfmt

remove pre-commit config
  .pre-commit-config.yaml
Due: fix files by prettier

enable workspace level make
  Makefile.toml
Due: none

fix fmt command
  .husky/hooks/pre-commit/rustfmt.sh
Due: none

remove dependencies "clean"
  Makefile.toml
Due: none

changed to runner.sh
  .husky/pre-push
Due: none

changed to environement variables.
  .husky/hooks/pre-push/runner.sh
  .husky/pre-push
Due: none

adds wip check.
  .husky/hooks/pre-push/cargo_test.sh
  .husky/hooks/utils/is_remote_branch_wip.sh
Due: none

adds test code
  .husky/hooks/utils/is_remote_branch_wip.sh
Due: none

add permission
  .husky/hooks/utils/is_remote_branch_wip.sh
Due: none

fixed branch_name check
  .husky/hooks/utils/is_remote_branch_wip.sh
Due: none

fix runner.
  .husky/hooks/pre-push/cargo_test.sh
  .husky/hooks/pre-push/runner.sh
Due: none

deleted dependencies "clean"
  Makefile.toml
Due: none

clippy impromve
  Makefile.toml
Due: none

adds warnings
  .github/workflows/ci_tests.yaml
Due: fix files by prettier

fix args
  Makefile.toml
Due: none

improve github workflows
  .github/workflows/ci_tests.yaml
Due: fix files by prettier

revert rust-lint
  .github/workflows/ci_tests.yaml
Due: fix files by prettier

changed task name.
  Makefile.toml
Due: none

moved scripts dir
  .husky/pre-push
  scripts/git/hooks/pre-commit/rustfmt.sh
  scripts/git/hooks/pre-push/cargo_test.sh
  scripts/git/hooks/utils/is_remote_branch_wip.sh
  scripts/git/hooks/utils/runner.sh
Due: none

Path conditions:
  fix files by prettier: any of: \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  rustfmt: any of: \.rs$
